*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100%;
    background-color: rgba($color: #c5c5c5, $alpha: 1.0);
    display: flex;
    align-items: center;
    justify-content: center;
    svg{
        height: 50%;
        width: 50%;
    }
}